.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 40px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px;
}

.carousel-item {
    min-width: 100%;
    flex-shrink: 0;
    width: 50%;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}